In [1]:
!pip install fastf1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fastf1
  Downloading fastf1-2.3.1-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.4/79.4 KB 1.0 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.9/dist-packages (from fastf1) (1.4.4)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from fastf1) (1.22.4)
Collecting signalr-client-aio
  Downloading signalr_client_aio-0.0.1.6.2-py2.py3-none-any.whl (8.0 kB)
Collecting thefuzz
  Downloading thefuzz-0.19.0-py2.py3-none-any.whl (17 kB)
Requirement already satisfied: matplotlib>=3.3.3 in /usr/local/lib/python3.9/dist-packages (from fastf1) (3.7.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from fastf1) (1.10.1)
Collecting requests-cache>=0.8.0
  Downloading requests_cache-1.0.1-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.7/58.7 KB 2.9 MB/s eta 0:00:00
Collecting timple>=0.1.2
  Downloading timple-0.1.5-py3-none-any.whl (17 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from fastf1) (2.27.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3.3->fastf1) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3.3->fastf1) (4.39.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3.3->fastf1) (8.4.0)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3.3->fastf1) (5.12.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3.3->fastf1) (1.0.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3.3->fastf1) (23.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3.3->fastf1) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3.3->fastf1) (2.8.2)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3.3->fastf1) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.1.0->fastf1) (2022.7.1)
Collecting url-normalize>=1.4
  Downloading url_normalize-1.4.3-py2.py3-none-any.whl (6.8 kB)
Collecting cattrs>=22.2
  Downloading cattrs-22.2.0-py3-none-any.whl (35 kB)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests-cache>=0.8.0->fastf1) (3.1.1)
Requirement already satisfied: urllib3>=1.25.5 in /usr/local/lib/python3.9/dist-packages (from requests-cache>=0.8.0->fastf1) (1.26.15)
Requirement already satisfied: attrs>=21.2 in /usr/local/lib/python3.9/dist-packages (from requests-cache>=0.8.0->fastf1) (22.2.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->fastf1) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->fastf1) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->fastf1) (2022.12.7)
Collecting websockets>=4.0.1
  Downloading websockets-10.4-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 106.5/106.5 KB 4.6 MB/s eta 0:00:00
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.9/dist-packages (from cattrs>=22.2->requests-cache>=0.8.0->fastf1) (1.1.1)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib>=3.3.3->fastf1) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7->matplotlib>=3.3.3->fastf1) (1.16.0)
Installing collected packages: thefuzz, websockets, url-normalize, cattrs, signalr-client-aio, requests-cache, timple, fastf1
Successfully installed cattrs-22.2.0 fastf1-2.3.1 requests-cache-1.0.1 signalr-client-aio-0.0.1.6.2 thefuzz-0.19.0 timple-0.1.5 url-normalize-1.4.3 websockets-10.4

In [2]:
import fastf1

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [4]:
%cd '/content/drive/MyDrive/Colab Notebooks/'

/content/drive/MyDrive/Colab Notebooks

In [5]:
fastf1.Cache.enable_cache('Cache')

In [6]:
year= 2023
gp = 'Saudi Arabia'
event = 'R'
session_race = fastf1.get_session(year, gp, event)
session_race.load()

In [7]:
session_race.results

,DriverNumber,BroadcastName,Abbreviation,TeamName,TeamColor,FirstName,LastName,FullName,Position,GridPosition,Q1,Q2,Q3,Time,Status,Points
11,11,S PEREZ,PER,Red Bull Racing,3671C6,Sergio,Perez,Sergio Perez,1.0,1.0,NaT,NaT,NaT,0 days 01:21:14.894000,Finished,25.0
1,1,M VERSTAPPEN,VER,Red Bull Racing,3671C6,Max,Verstappen,Max Verstappen,2.0,15.0,NaT,NaT,NaT,0 days 01:21:20.249000,Finished,19.0
14,14,F ALONSO,ALO,Aston Martin,358C75,Fernando,Alonso,Fernando Alonso,3.0,2.0,NaT,NaT,NaT,0 days 01:21:35.622000,Finished,15.0
63,63,G RUSSELL,RUS,Mercedes,6CD3BF,George,Russell,George Russell,4.0,3.0,NaT,NaT,NaT,0 days 01:21:40.760000,Finished,12.0
44,44,L HAMILTON,HAM,Mercedes,6CD3BF,Lewis,Hamilton,Lewis Hamilton,5.0,7.0,NaT,NaT,NaT,0 days 01:21:45.959000,Finished,10.0
55,55,C SAINZ,SAI,Ferrari,F91536,Carlos,Sainz,Carlos Sainz,6.0,4.0,NaT,NaT,NaT,0 days 01:21:50.770000,Finished,8.0
16,16,C LECLERC,LEC,Ferrari,F91536,Charles,Leclerc,Charles Leclerc,7.0,12.0,NaT,NaT,NaT,0 days 01:21:58.056000,Finished,6.0
31,31,E OCON,OCO,Alpine,2293D1,Esteban,Ocon,Esteban Ocon,8.0,6.0,NaT,NaT,NaT,0 days 01:22:07.726000,Finished,4.0
10,10,P GASLY,GAS,Alpine,2293D1,Pierre,Gasly,Pierre Gasly,9.0,9.0,NaT,NaT,NaT,0 days 01:22:09.641000,Finished,2.0
20,20,K MAGNUSSEN,MAG,Haas F1 Team,B6BABD,Kevin,Magnussen,Kevin Magnussen,10.0,13.0,NaT,NaT,NaT,0 days 01:22:19.720000,Finished,1.0
22,22,Y TSUNODA,TSU,AlphaTauri,5E8FAA,Yuki,Tsunoda,Yuki Tsunoda,11.0,16.0,NaT,NaT,NaT,0 days 01:22:22.388000,Finished,0.0
27,27,N HULKENBERG,HUL,Haas F1 Team,B6BABD,Nico,Hulkenberg,Nico Hulkenberg,12.0,10.0,NaT,NaT,NaT,0 days 01:22:25.482000,Finished,0.0
24,24,G ZHOU,ZHO,Alfa Romeo,C92D4B,Guanyu,Zhou,Guanyu Zhou,13.0,11.0,NaT,NaT,NaT,0 days 01:22:30.954000,Finished,0.0
21,21,N DE VRIES,DEV,AlphaTauri,5E8FAA,Nyck,De Vries,Nyck De Vries,14.0,18.0,NaT,NaT,NaT,0 days 01:22:32.372000,Finished,0.0
81,81,O PIASTRI,PIA,McLaren,F58020,Oscar,Piastri,Oscar Piastri,15.0,8.0,NaT,NaT,NaT,0 days 01:22:39.915000,Finished,0.0
2,2,L SARGEANT,SAR,Williams,37BEDD,Logan,Sargeant,Logan Sargeant,16.0,20.0,NaT,NaT,NaT,0 days 01:22:41.187000,Finished,0.0
4,4,L NORRIS,NOR,McLaren,F58020,Lando,Norris,Lando Norris,17.0,19.0,NaT,NaT,NaT,0 days 01:22:41.339000,Finished,0.0
77,77,V BOTTAS,BOT,Alfa Romeo,C92D4B,Valtteri,Bottas,Valtteri Bottas,18.0,14.0,NaT,NaT,NaT,NaT,+1 Lap,0.0
23,23,A ALBON,ALB,Williams,37BEDD,Alexander,Albon,Alexander Albon,19.0,17.0,NaT,NaT,NaT,NaT,Brakes,0.0
18,18,L STROLL,STR,Aston Martin,358C75,Lance,Stroll,Lance Stroll,20.0,5.0,NaT,NaT,NaT,NaT,Engine,0.0

In [9]:
session_race.laps

,Time,DriverNumber,LapTime,LapNumber,PitOutTime,PitInTime,Sector1Time,Sector2Time,Sector3Time,Sector1SessionTime,...,Compound,TyreLife,FreshTyre,Stint,LapStartTime,Team,Driver,TrackStatus,IsAccurate,LapStartDate
0,0 days 01:04:28.186000,11,NaT,1,0 days 00:23:44.378000,NaT,NaT,0 days 00:00:29.964000,0 days 00:00:30.233000,NaT,...,MEDIUM,1.0,True,1,0 days 01:02:50.632000,Red Bull Racing,PER,1,False,2023-03-19 17:03:50.718
1,0 days 01:06:04.092000,11,0 days 00:01:35.906000,2,NaT,NaT,0 days 00:00:35.785000,0 days 00:00:29.903000,0 days 00:00:30.218000,0 days 01:05:03.971000,...,MEDIUM,2.0,True,1,0 days 01:04:28.186000,Red Bull Racing,PER,1,True,2023-03-19 17:05:28.272
2,0 days 01:07:38.921000,11,0 days 00:01:34.829000,3,NaT,NaT,0 days 00:00:35.340000,0 days 00:00:29.825000,0 days 00:00:29.664000,0 days 01:06:39.432000,...,MEDIUM,3.0,True,1,0 days 01:06:04.092000,Red Bull Racing,PER,1,True,2023-03-19 17:07:04.178
3,0 days 01:09:14.572000,11,0 days 00:01:35.651000,4,NaT,NaT,0 days 00:00:35.484000,0 days 00:00:30.147000,0 days 00:00:30.020000,0 days 01:08:14.405000,...,MEDIUM,4.0,True,1,0 days 01:07:38.921000,Red Bull Racing,PER,1,True,2023-03-19 17:08:39.007
4,0 days 01:10:49.445000,11,0 days 00:01:34.873000,5,NaT,NaT,0 days 00:00:35.024000,0 days 00:00:29.903000,0 days 00:00:29.946000,0 days 01:09:49.596000,...,MEDIUM,5.0,True,1,0 days 01:09:14.572000,Red Bull Racing,PER,1,True,2023-03-19 17:10:14.658
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
937,0 days 01:22:02.480000,18,0 days 00:01:36.522000,12,NaT,NaT,0 days 00:00:35.894000,0 days 00:00:30.346000,0 days 00:00:30.282000,0 days 01:21:01.852000,...,MEDIUM,12.0,True,1,0 days 01:20:25.958000,Aston Martin,STR,1,True,2023-03-19 17:21:26.044
938,0 days 01:23:41.023000,18,0 days 00:01:38.543000,13,NaT,0 days 01:23:39.953000,0 days 00:00:35.442000,0 days 00:00:30.290000,0 days 00:00:32.811000,0 days 01:22:37.922000,...,MEDIUM,13.0,True,1,0 days 01:22:02.480000,Aston Martin,STR,1,False,2023-03-19 17:23:02.566
939,0 days 01:25:35.328000,18,0 days 00:01:54.305000,14,0 days 01:24:01.109000,NaT,0 days 00:00:53.174000,0 days 00:00:30.418000,0 days 00:00:30.713000,0 days 01:24:34.197000,...,HARD,2.0,False,2,0 days 01:23:41.023000,Aston Martin,STR,1,False,2023-03-19 17:24:41.109
940,0 days 01:27:11.590000,18,0 days 00:01:36.262000,15,NaT,NaT,0 days 00:00:35.481000,0 days 00:00:30.118000,0 days 00:00:30.663000,0 days 01:26:10.809000,...,HARD,3.0,False,2,0 days 01:25:35.328000,Aston Martin,STR,1,True,2023-03-19 17:26:35.414
941,0 days 01:28:48.075000,18,0 days 00:01:36.485000,16,NaT,NaT,0 days 00:00:35.535000,0 days 00:00:30.293000,0 days 00:00:30.657000,0 days 01:27:47.125000,...,HARD,4.0,False,2,0 days 01:27:11.590000,Aston Martin,STR,1,True,2023-03-19 17:28:11.676

In [10]:
session_race.laps.columns

Index(['Time', 'DriverNumber', 'LapTime', 'LapNumber', 'PitOutTime',
       'PitInTime', 'Sector1Time', 'Sector2Time', 'Sector3Time',
       'Sector1SessionTime', 'Sector2SessionTime', 'Sector3SessionTime',
       'SpeedI1', 'SpeedI2', 'SpeedFL', 'SpeedST', 'IsPersonalBest',
       'Compound', 'TyreLife', 'FreshTyre', 'Stint', 'LapStartTime', 'Team',
       'Driver', 'TrackStatus', 'IsAccurate', 'LapStartDate'],
      dtype='object')

In [13]:
fastest_lap = session_race.laps.pick_fastest()
fastest_lap

Time                      0 days 02:24:11.139000
DriverNumber                                   1
LapTime                   0 days 00:01:31.906000
LapNumber                                     50
PitOutTime                                   NaT
PitInTime                                    NaT
Sector1Time               0 days 00:00:33.543000
Sector2Time               0 days 00:00:29.045000
Sector3Time               0 days 00:00:29.318000
Sector1SessionTime        0 days 02:23:12.776000
Sector2SessionTime        0 days 02:23:41.821000
Sector3SessionTime        0 days 02:24:11.139000
SpeedI1                                    292.0
SpeedI2                                    310.0
SpeedFL                                    299.0
SpeedST                                    316.0
IsPersonalBest                              True
Compound                                    HARD
TyreLife                                    32.0
FreshTyre                                   True
Stint                                          2
LapStartTime              0 days 02:22:39.233000
Team                             Red Bull Racing
Driver                                       VER
TrackStatus                                    1
IsAccurate                                  True
LapStartDate          2023-03-19 18:23:39.319000
Name: 99, dtype: object

In [12]:
driver ='PER'
fastest_lap_per = session_race.laps.pick_driver(driver).pick_fastest()
fastest_lap_per

Time                      0 days 02:05:32.028000
DriverNumber                                  11
LapTime                   0 days 00:01:32.188000
LapNumber                                     38
PitOutTime                                   NaT
PitInTime                                    NaT
Sector1Time               0 days 00:00:33.721000
Sector2Time               0 days 00:00:29.122000
Sector3Time               0 days 00:00:29.345000
Sector1SessionTime        0 days 02:04:33.561000
Sector2SessionTime        0 days 02:05:02.683000
Sector3SessionTime        0 days 02:05:32.028000
SpeedI1                                    292.0
SpeedI2                                    306.0
SpeedFL                                    296.0
SpeedST                                    315.0
IsPersonalBest                              True
Compound                                    HARD
TyreLife                                    20.0
FreshTyre                                   True
Stint                                          2
LapStartTime              0 days 02:03:59.840000
Team                             Red Bull Racing
Driver                                       PER
TrackStatus                                    1
IsAccurate                                  True
LapStartDate          2023-03-19 18:04:59.926000
Name: 37, dtype: object

In [14]:
per_car_data = fastest_lap_per.get_car_data()
per_car_data

,Date,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Time,SessionTime
0,2023-03-19 18:04:59.966,10674,299,8,100,False,0,car,0 days 00:00:00.040000,0 days 02:03:59.880000
1,2023-03-19 18:05:00.206,10685,300,8,100,False,0,car,0 days 00:00:00.280000,0 days 02:04:00.120000
2,2023-03-19 18:05:00.446,10783,301,8,100,False,0,car,0 days 00:00:00.520000,0 days 02:04:00.360000
3,2023-03-19 18:05:00.646,10810,304,8,100,False,0,car,0 days 00:00:00.720000,0 days 02:04:00.560000
4,2023-03-19 18:05:00.806,10845,304,8,100,False,0,car,0 days 00:00:00.880000,0 days 02:04:00.720000
...,...,...,...,...,...,...,...,...,...,...
347,2023-03-19 18:06:31.207,11068,292,7,100,False,0,car,0 days 00:01:31.281000,0 days 02:05:31.121000
348,2023-03-19 18:06:31.367,10506,293,7,100,False,0,car,0 days 00:01:31.441000,0 days 02:05:31.281000
349,2023-03-19 18:06:31.647,10516,295,8,100,False,0,car,0 days 00:01:31.721000,0 days 02:05:31.561000
350,2023-03-19 18:06:31.887,10539,296,8,100,False,0,car,0 days 00:01:31.961000,0 days 02:05:31.801000
351,2023-03-19 18:06:32.087,10612,297,8,100,False,0,car,0 days 00:01:32.161000,0 days 02:05:32.001000

In [15]:
per_car_data.columns

Index(['Date', 'RPM', 'Speed', 'nGear', 'Throttle', 'Brake', 'DRS', 'Source',
       'Time', 'SessionTime'],
      dtype='object')